<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Ask new questions</title>
    <% include ../partials/head %>
    <style>
        form {
            width:80%;
            margin-left:10%;
        }
        textarea {
            width:100%;
            min-height:100px;
        }
        input {
            font-size:20px;

        }

        .ui-dialog.success-dialog .ui-dialog-content {
            background:url(/images/done.png) no-repeat;
            background-size:30px 30px;
            background-position:5% 20%;
            padding-left:22%;
        }
 
            .ui-dialog {
                margin-left:20%;
            }
       
    </style>
</head>
<body>
    <% include ../partials/header %>
        <form method ="post" action="/ask">
            <h3>Ask the community a yes/no question</h3>
            <input type="hidden" value="<%= message %>" id="msgstat">
            <textarea name="question" id="qinput" maxlength="200"></textarea>
            <p id="count">Characters left: 200/200</p>
            <input class="btn-primary" type="submit" value="Send"/>
        </form>
    <% include ../partials/footer %>
</body>
<script>
    $(document).ready(function(){
        var check = $('#msgstat').val();
        if (check != "") {
        $(`<div title='message'>${check}</div>`).dialog({
            modal:true,
            width: "30%",
            dialogClass: 'success-dialog',
            draggable:false,
            buttons: {
                Ok: function() {
                    $(this).dialog("close");
                    }
                }
            });
        }
    })
</script>

<script>
    $('#qinput').bind('input propertychange', function () {
        var c = $.trim($("#qinput").val()).length;
        $("#count").html(`Characters left: ${200 - c}/200`);

    });
</script>
</html>