<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Questions</title>
    <% include ../partials/head %>
    <style>
        form {
            width:60%;
            margin-left:20%;
        }
        button {
            font-size:20px;
        }
        button a {
            text-decoration:none;
            color:black;
        }
        button a:hover {
            text-decoration:none;
            color:black;
        }

    </style>
</head>
<body>
    <% include ../partials/header %>
        <div>
            <form action="/question" method="post">
            <center><h3><%= content %></h3></center>
            <input type="hidden" value="<%= id %>" name="myid">
                <div class="col-xs-6 col-md-6 col-sm-6 text-left">
                    <button class="btn-primary" type="submit" name="answer" value="yes"><span class="glyphicon glyphicon-thumbs-up"></span> Yes</button>
                </div>
                <div class="col-xs-6 col-md-6 col-sm-6 text-right">
                    <button class="btn-danger" type="submit"  name="answer" value="no"><span class="glyphicon glyphicon-thumbs-down"></span> No</button>
                </div>
            <center>
                <button class="btn-default" type="submit" name="answer" value="">See another question</button>
                <button class="btn-default"><a href="/ask">Ask a question</a></button>
            </center>
            </form>
        </div>
    <% include ../partials/footer %>
</body>
</html>